body {
    font-family: "Poiret One", sans-serif;
    background-color: #f0e6ff;
    color: #4b0082; 
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(105,89,205,0.2);
}

.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    color: #8a2be2;
}

p {
    line-height: 1.6;
}
